<!DOCTYPE html>
<html>
  <head>
    <title>Traine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %>
    <%= alert %>
    <%= @current_user.name if @current_user %>
    <%= link_to 'logout', logout_path, method: :delete  if @current_user%>
    <%= link_to 'sign_up', new_user_path unless @current_user%>


    <%= yield %>
  </body>
</html>
